*, .m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", serif;
    font-weight: 700;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5ecd5;
}
textarea {
    resize: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    background: #fffaec;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60vw;
}
.result {
    margin-top: 20px;
}
.fadein-text {
    flex: 1;
    text-align: left;
    text-wrap: stable;
    font-size: 24px;
    color: #3d3d3d60;
}
.text {
    flex: 1;
    text-wrap: stable;
    font-size: 24px;
    color: #3d3d3d;
}
.ready {
    position: absolute;
    padding: 10px;
}
.entered {
    color: #1e90ff;
}

#exampleDiv {
    margin-left: 3px;
}