body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5ecd5;
}
.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #fffaec;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80vw;
}
.result {
    margin-top: 20px;
}
.text {
    font-size: 3vw;
    font-weight: bold;
    color: #3d3d3d;
}
.ready {
    position: absolute;
    position-anchor: center;
    color: #3d3d3d;
}
#inputText {
    width: 100%;
    line-height: 5vw;
    font-size: 2.4vw;
}
.entered {
    color: #578e7e;
}